# variables de entorno
.env
.env.local
.env-local
.env.production
.env.development

# configuraciones sensibles
config/database.php
config/env.php

# dependencias
node_modules/
vendor/

# logs
*.log

# archivos del sistema
.DS_Store
Thumbs.db

# archivos de build
dist/
build/